#section-b .row{
    background: red;
    margin-top: 30px;
}
#section-b .card img{
    width: 100px;
    height: 200px;
}
#section-b .card img:hover{
    opacity: 0.2;
}
#section-b .card:hover{
    box-shadow: 3px 3px 3px 3px #f2ff4c;
}

#section-c #section-c-lef{
    padding: 20px;
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
}
/*#signup-section*/
#signup-section fieldset, #login-section fieldset{
    margin-top: 30px;
    background-color: #6dff12;
    padding: 20px;
    border-radius: 15px;
    font-family: monospace;
    border: 2px #6dff12;
    box-shadow: 3px 3px 3px 3px rgba(114,255,141,0.15);
}
#signup-section fieldset img,#login-section fieldset img{
    border: 3px solid red;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        margin-left: 100px;
}
